// parte dois do projeto em css

* {
  text-align: center;
}

body {
  font-family: "Georgia", monospace;
  min-height: 400px;
  background-color: #ffb77d;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #82aaf5;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #82aaf5;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

table {
  border: 2px white;
  border-collapse: collapse;
}

h1 {
  color: #a85d20;
  font-weight: bold;
}

th,
tr,
td {
  border: solid 1px #a85d20;
  backgroung-color: #4547d6;
  color: #a85d20;
  border-width: medium;
  font-weight: bold;
  font-size: medium;
}

.time {
  max-width: 50px;
}

button {
  border: #9c4d00;
  background-color: #9c4d00;
  color: #ffb77d;
  font-weight: bold;
  font-size: medium;
}
